<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, Malte</title>
    <meta name="description" content="{{ collectiondata.description }}">
    <link rel="stylesheet" href="/assets/css/all.css">
    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>
    <link id="style" rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
    <script type="text/javascript" src="{{ "/assets/script/jquery-1.7.1.min.js" | relative_url }}"></script>
    {% include site-favicons.html %}
    {% include site-before-start.html %}
  </head>
  <body>
    <div class="progress"></div>
      
    {% include site-progress.html %}
    {% include site-cookiepolicy.html %}
    {% include site-icons.svg %}
    {% include site-header.html %}
    <main class="main  container">
      {{ content }}
    </main>
    {% include site-footer.html %}
    {% include site-before-end.html %}
  </body>
</html>

<html>
<head>
    
</head>
<body>
<p>hello world!</p>
</body>
</html>
